.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #FFF!important;
}

.like-btn {
  font-size: 15px;
  color: #808080;
}

.unlike-btn {
  font-size: 15px;
  animation-name: heart;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes heart {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    color: #e54747;
  }
  
}
